<app-header></app-header>
<div id="wrapper">
    <app-dashboard (widthEmittedEvent)="contentWidthEmitted($event)"></app-dashboard>
    <div id="content-wrapper" class="d-flex flex-column" #content>
        <div id="content">

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Location</h1>

                <div class="row mb-3 mt-5">
                    <div class="col-12">
                        <button class="btn btn-primary" routerLink="/add-location">Add New</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <ng-select [items]="options" bindLabel="name" bindValue="value" placeholder="Filter By" [(ngModel)]="selectedOption" (change)="optionChange($event)" [clearable]="false">
                        </ng-select>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <input type="text" class="form-control" placeholder="Search {{ placeholder }}" [(ngModel)]="refId" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="btn-container">
                        <button onclick="window.print()" class="btn btn-primary">Print</button>
                        <button (click)="exportTOExcel()" class="btn btn-primary">Excel</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-container mb-5 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th (click)="sort('id')" scope="col">ID <i class="fa fa-sort"></i></th>
                                        <th scope="col">City</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Sub Locations</th>
                                        <th scope="col" *ngIf="currentLoginUser?.access !== 'agent'">Operations</th>

                                    </tr>
                                </thead>

                                <tbody>

                                    <tr *ngFor="let location of locations | filterlist: selectedOption:refId | orderBy: key: reverse | paginate:{itemsPerPage:50,currentPage:p};">
                                        <td>{{ location?._id }}</td>
                                        <td>{{ location?.cityName }}</td>
                                        <td>
                                            <span>{{ location?.location | titlecase }}</span>
                                        </td>
                                        <td *ngIf="location?.subLocations else LocationBlock">

                                            <span *ngFor="let sublocation of location?.subLocations">{{ sublocation?.subLocation
                                                }}, </span>
                                        </td>
                                        <ng-template #LocationBlock>
                                            {{'N/A'}}
                                        </ng-template>
                                        <td *ngIf="currentLoginUser?.access !== 'agent'"><i class="fa fa-edit icon" (click)="setLocation(location)"></i>
                                            <a (click)="setLocation(location)" role="button"></a>

                                            <i class="fa fa-trash icon" (click)="confirmID(location._id)" data-toggle="modal" data-target="#exampleModal1"></i>

                                        </td>
                                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete it?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteLocation()">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>