<app-header></app-header>
<div id="wrapper">
    <app-dashboard (widthEmittedEvent)="contentWidthEmitted($event)"></app-dashboard>
    <div id="content-wrapper" class="d-flex flex-column" #content>
        <div id="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 mb-4">
                        <form class="form-register" [formGroup]="addinventoryForm" (ngSubmit)="submitForm()">

                            <h2 class="register-heading h3 mb-2 text-gray-800">Add {{form_title}}</h2>
                            <div class="row">

                                <div class="col-md-5 col-sm-5 radio-mid">

                                    <div class="radio">
                                        <div class="row ml-2">
                                            <b class="steps">Form Title</b>
                                            <h5 class="require">*</h5>
                                        </div>
                                        <div class="btn-group btn-group-toggle">

                                            <label *ngIf="addinventoryForm.get('form_title').value == 'Lead'" class="btn btn-primary" [class.active]="addinventoryForm.get('form_title').value === 'Lead'">
                                                <input type="radio" formControlName="form_title" value="Lead"> Lead
                                            </label>
                                            <!-- <h6 *ngIf="addinventoryForm.get('form_title').value == 'Lead'" class="require">*</h6> -->


                                            <label *ngIf="addinventoryForm.get('form_title').value == 'Inventory'" class="btn btn-primary" [class.active]="addinventoryForm.get('form_title').value === 'Inventory'">
                                                <input type="radio"
                                                    [attr.disabled]="addinventoryForm.get('form_title').value !== 'Inventory'"
                                                    formControlName="form_title" value="Inventory">
                                                Inventory
                                            </label>
                                            <!-- <h6 *ngIf="addinventoryForm.get('form_title').value == 'Inventory'" class="require">*</h6> -->

                                            <label *ngIf="addinventoryForm.get('form_title').value == 'Both'" class="btn btn-primary" [class.active]="addinventoryForm.get('form_title').value === 'Both'">
                                                <input type="radio"
                                                    [attr.disabled]="addinventoryForm.get('form_title').value !== 'Both'"
                                                    formControlName="form_title" value="Both">
                                                Both
                                            </label>
                                            <!-- <h6 *ngIf="addinventoryForm.get('form_title').value == 'Both'" class="require">*</h6> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row" *ngIf="addinventoryForm.get('form_title').value !== 'Inventory'">
                                    <div class="col-md-5 col-sm-5"><br>
                                        <div class="row ml-1">
                                            <b class="steps">Purpose</b>
                                            <h5 class="require">*</h5>
                                        </div>
                                        <div class="radio ml-1">
                                            <div class="btn-group btn-group-toggle">
                                                <label style="margin-left: 0px;" class="btn btn-primary" [class.active]="addinventoryForm.get('property_purpose').value === 'Sell'">
                                                    <input type="radio" formControlName="property_purpose" value="Sell"> Sell
                                                </label>
                                                <label class="btn btn-primary" [class.active]="addinventoryForm.get('property_purpose').value === 'Buy'">
                                                    <input type="radio" formControlName="property_purpose" value="Buy"> Buy
                                                </label>
                                                <label class="btn btn-primary" [class.active]="addinventoryForm.get('property_purpose').value === 'Rent'">
                                                    <input type="radio" formControlName="property_purpose" value="Rent"> Rent
                                                </label>
                                                <label class="btn btn-primary" [class.active]="addinventoryForm.get('property_purpose').value === 'Rent-Out'">
                                                    <input type="radio" formControlName="property_purpose" value="Rent-Out"> Rent-Out
                                                </label>
                                            </div>
                                        </div>
                                        <!-- <b class="steps">Step 2: Select Purpose</b> -->
                                    </div>
                                </div>

                                <div class="row" *ngIf="addinventoryForm.get('form_title').value == 'Inventory'">
                                    <div class="col-md-5 col-sm-5"><br>
                                        <div class="row ml-2 steps">
                                            <b class="">Purpose</b>
                                            <h6 class="require">*</h6>
                                        </div>
                                        <div class="radio">
                                            <div class="btn-group btn-group-toggle">
                                                <label class="btn btn-primary" [class.active]="addinventoryForm.get('property_purpose').value === 'Sell'">
                                                    <input type="radio" formControlName="property_purpose" value="Sell"> Sell
                                                </label>
                                                <label class="btn btn-primary" [class.active]="addinventoryForm.get('property_purpose').value === 'Rent-Out'">
                                                    <input type="radio" formControlName="property_purpose" value="Rent-Out"> Rent-Out
                                                </label>
                                            </div>
                                        </div>
                                        <!-- <b class="steps">Step 2: Select Purpose</b> -->
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group" *ngIf="!user">
                                            <div class="row ml-3">
                                                <b class="steps">City</b>
                                                <h5 class="require">*</h5>
                                            </div>
                                            <div>
                                                <ng-select class="ng-select" [items]="cities" bindLabel="city" bindValue="_id" placeholder="Select City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" (change)="changeCity($event)">
                                                </ng-select>
                                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                                    <div *ngIf="f.city.errors.required">City is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="user">
                                            <div class="row ml-3">
                                                <b class="steps">City</b>
                                                <h5 class="require">*</h5>
                                            </div>
                                            <div>
                                                <ng-select [(ngModel)]="user.city[0].city" [ngModelOptions]="{standalone: true}" class="ng-select" [items]="cities" bindLabel="city" bindValue="city" placeholder="Select City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" (change)="changeCity($event)">
                                                </ng-select>
                                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                                    <div *ngIf="f.city.errors.required">City is required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group" *ngIf="user">
                                            <div class="row ml-3">
                                                <b class="steps">Location</b>
                                                <h5 class="require">*</h5>
                                            </div>
                                            <div class="input-group">
                                                <ng-select [(ngModel)]="selectStringLocations" [ngModelOptions]="{standalone: true}" class="ng-select inputs2" [items]="locations" bindLabel="location" bindValue="location" placeholder="Select Location" (change)="changeLocation($event)">
                                                </ng-select>
                                            </div>
                                        </div>

                                        <div class="form-group" *ngIf="!user">
                                            <div class="row ml-3">
                                                <b class="steps">Location</b>
                                                <h5 class="require">*</h5>
                                            </div>
                                            <div>
                                                <ng-select class="ng-select inputs2" [(ngModel)]="selectStringLocations" [ngModelOptions]="{standalone: true}" [items]="locations" bindLabel="location" bindValue="location" placeholder="Select Location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
                                                    (change)="changeLocation($event)">
                                                </ng-select>
                                                <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                                    <div *ngIf="f.location.errors.required">Location is required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group" *ngIf="!user">
                                            <div class="row ml-3">
                                                <b class="steps">Sub Location</b>
                                                <!-- <h5 class="require">*</h5> -->
                                            </div>
                                            <div class="mt-3">
                                                <ng-select class="ng-select inputs2" [items]="subLocation" bindLabel="subLocation" bindValue="subLocation" placeholder="Select Sub Location" (change)="changeSubLocation($event)">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="user">
                                            <div class="row ml-3">
                                                <b class="steps">Sub Location</b>
                                                <!-- <h5 class="require">*</h5> -->
                                            </div>
                                            <div class="mt-3">
                                                <ng-select class="ng-select inputs2" [(ngModel)]="subLocationName" [ngModelOptions]="{standalone: true}" [items]="subLocation" bindLabel="subLocation" bindValue="subLocation" placeholder="Select Sub Location" (change)="changeSubLocation($event)">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3  mt-5">
                                        <div class="form-group">
                                            <button class="btn btn-primary" style="width: 150px;" routerLink="/add-location"> Add New Location</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ml-1 ">
                                    <b class="steps">Property Types</b>
                                    <h5 class="require">*</h5>
                                </div>
                                <div class="row btn-group-toggle">

                                    <label class="btn btn-primary" style="margin-left: 15px;" [class.active]="addinventoryForm.get('property_type').value === 'home'||addinventoryForm.get('property_type').value === 'House' ||addinventoryForm.get('property_type').value === 'Apartment'||addinventoryForm.get('property_type').value === 'Farm House'||addinventoryForm.get('property_type').value === 'Penthouse'||addinventoryForm.get('property_type').value === 'Upper Portion'||addinventoryForm.get('property_type').value === 'Lower Portion'">
                                        <input type="radio" formControlName="property_type" value="home"> Home
                                    </label>
                                    <label class="btn btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'plot' || addinventoryForm.get('property_type').value === 'Residential Plot' || addinventoryForm.get('property_type').value === 'Commercial Plot'||addinventoryForm.get('property_type').value === 'Farm House Plot'"
                                        *ngIf="addinventoryForm.get('property_purpose').value === 'Buy' || addinventoryForm.get('property_purpose').value === 'Sell' ">
                                        <input type="radio" formControlName="property_type" value="plot"> Plot
                                    </label>
                                    <label class="btn btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'commercial' || addinventoryForm.get('property_type').value === 'Office' || addinventoryForm.get('property_type').value === 'Shop' || addinventoryForm.get('property_type').value === 'Plaza' || addinventoryForm.get('property_type').value === 'Floor'">
                                        <input type="radio" formControlName="property_type" value="commercial"> Commercial
                                    </label>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="tab-pane" id="home" *ngIf="addinventoryForm.get('property_type').value === 'home'||addinventoryForm.get('property_type').value === 'House' ||addinventoryForm.get('property_type').value === 'Apartment'||addinventoryForm.get('property_type').value === 'Farm House'||addinventoryForm.get('property_type').value === 'Penthouse'||addinventoryForm.get('property_type').value === 'Upper Portion'||addinventoryForm.get('property_type').value === 'Lower Portion'">

                                        <div class="btn-group btn-group-toggle">
                                            <label class="btn btn3  btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'House'">
                                                <input type="radio" formControlName="property_type" value="House"> House
                                            </label>

                                            <label class="btn btn3  btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Apartment'">
                                                <input type="radio" formControlName="property_type" value="Apartment">
                                                Apartment
                                            </label>
                                            <label class="btn btn3  btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Farm House'">
                                                <input type="radio" formControlName="property_type" value="Farm House">
                                                Farm House
                                            </label>
                                        </div>
                                        <div class="btn-group btn-group-toggle" *ngIf="addinventoryForm.get('property_purpose').value === 'Rent' || addinventoryForm.get('property_purpose').value === 'Rent-Out'">
                                            <label class="btn btn3  btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Penthouse'">
                                                <input type="radio" formControlName="property_type" value="Penthouse">
                                                Penthouse
                                            </label>

                                            <label class="btn btn3 btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Lower Portion'">
                                                <input type="radio" formControlName="property_type" value="Lower Portion"> Lower Portion
                                            </label>

                                            <label class="btn  btn3 btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Upper Portion'">
                                                <input type="radio" formControlName="property_type" value="Upper Portion">
                                                Upper Portion
                                            </label>


                                        </div>

                                    </div>
                                    <div class="tab-pane" id="plot" *ngIf="addinventoryForm.get('property_type').value === 'plot'||addinventoryForm.get('property_type').value === 'Residential Plot'||addinventoryForm.get('property_type').value === 'Commercial Plot'||addinventoryForm.get('property_type').value === 'Farm House Plot'">
                                        <div class="btn-group btn-group-toggle">
                                            <label class="btn btn3 btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Residential Plot'" style="
                                            width: 150px;">
                                                <input type="radio" formControlName="property_type" value="Residential Plot">
                                                Residential Plot
                                            </label>

                                            <label class="btn  btn3 btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Commercial Plot'" style="
                                            width: 150px;">
                                                <input type="radio" formControlName="property_type" value="Commercial Plot">
                                                Commercial Plot
                                            </label>

                                            <label class="btn  btn3 btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Farm House Plot'" style="
                                            width: 150px;">
                                                <input type="radio" formControlName="property_type" value="Farm House Plot">
                                                Farm House Plot
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="commercial" *ngIf="addinventoryForm.get('property_type').value === 'commercial'||addinventoryForm.get('property_type').value === 'Office'||addinventoryForm.get('property_type').value === 'Shop'||addinventoryForm.get('property_type').value === 'Plaza'||addinventoryForm.get('property_type').value === 'Floor'">

                                        <div class="btn-group btn-group-toggle">
                                            <label class="btn btn3  btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Office'">
                                                <input type="radio" formControlName="property_type" value="Office"> Office
                                            </label>

                                            <label class="btn  btn3 btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Shop'">
                                                <input type="radio" formControlName="property_type" value="Shop">
                                                Shop
                                            </label>

                                            <label class="btn  btn3 btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Plaza'">
                                                <input type="radio" formControlName="property_type" value="Plaza">
                                                Plaza
                                            </label>

                                            <label class="btn  btn3 btn-primary" [class.active]="addinventoryForm.get('property_type').value === 'Floor'">
                                                <input type="radio" formControlName="property_type" value="Floor"> Floor
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ml-1">
                                <b class="steps">Plot/House #</b>
                                <h5 class="require">*</h5>
                            </div>
                            <div class="row">
                                <div class="col-3">

                                    <input type="text" formControlName="property_number" placeholder="Property Number" class="form-control">
                                </div>
                            </div>
                            <div *ngIf="addinventoryForm.get('property_purpose').value === 'Buy' || addinventoryForm.get('property_purpose').value === 'Rent' ">

                                <div style="color: red" *ngIf="isInvalidPrice">Please check your PRICE ranges</div>
                                <div class="row">
                                    <!-- <br> <b class="price">Price Range</b> -->

                                    <div class="row ml-3">
                                        <b class="steps">Price Range</b>
                                        <!-- <h5 class="require">*</h5> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div class="">
                                                <input type="text" placeholder="Min" (keyup)="demandValue($event)" class="form-control" formControlName="min_price" name="minimumPriceRange" [(ngModel)]="minimumPriceRange" (ngModelChange)="onChangePrice($event)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div class="">
                                                <input type="text" placeholder="Max" class="form-control" (keyup)="demandValue1($event)" formControlName="max_price" name="maximumPriceRange" [(ngModel)]="maximumPriceRange" (ngModelChange)="onChangePrice($event)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="addinventoryForm.get('property_purpose').value === 'Sell' || addinventoryForm.get('property_purpose').value === 'Rent-Out' ">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div class="">
                                                <br> <b class="steps">Demand </b>
                                                <input type="text" placeholder="" (keyup)="demandValue2($event)" class="form-control" formControlName="demand_price" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="addinventoryForm.get('property_purpose').value === 'Buy' || addinventoryForm.get('property_purpose').value === 'Rent'">
                                <div class="col-md-3">
                                    <div class="form-group input-group" style="
                       
                        
                        width: 91%;
                          font-size: 15px;
                          font-weight: 700;
                      
                          border-radius: 4px
                            ">
                                        <input class="form-control mr-2" style="color: brown !important; margin-right: 0rem !important" id="disabledInput" type="text" placeholder="  {{ priceConverter(demandValueVariable) }}" disabled />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group input-group" style="
                       
                        
                        width: 91%;
                          font-size: 15px;
                          font-weight: 700;
                      
                          border-radius: 4px
                            ">
                                        <input class="form-control mr-2" style="color: brown !important; margin-right: 0rem !important" id="disabledInput" type="text" placeholder="  {{ priceConverter(demandValueVariable1) }}" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="addinventoryForm.get('property_purpose').value === 'Sell' || addinventoryForm.get('property_purpose').value === 'Rent-Out' ">
                                <div class="col-md-3">
                                    <div class="form-group input-group" style="
                       
                        
                        width: 91%;
                          font-size: 15px;
                          font-weight: 700;
                      
                          border-radius: 4px
                            ">
                                        <input class="form-control mr-2" style="color: brown !important; margin-right: 0rem !important" id="disabledInput" type="text" placeholder="  {{ priceConverter(demandValueVariable2) }}" disabled />
                                    </div>
                                </div>


                            </div>
                            <div *ngIf="addinventoryForm.get('property_purpose').value === 'Buy' || addinventoryForm.get('property_purpose').value === 'Rent' ">
                                <div style="color: red" *ngIf="isInvalidArea">Please check your AREA ranges</div>
                                <div class="row">
                                    <!-- <br> <b class="price">Area Range</b> -->

                                    <div class="row ml-3">
                                        <b class="steps">Area Range</b>
                                        <!-- <h5 class="require">*</h5> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div class="">
                                                <input type="text" placeholder="Min" class="form-control" formControlName="min_area" name="minimumAreaRange" [(ngModel)]="minimumAreaRange" (ngModelChange)="onChangeArea($event)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div class="">
                                                <input type="text" placeholder="Max" class="form-control" formControlName="max_area" name="maximumAreaRange" [(ngModel)]="maximumAreaRange" (ngModelChange)="onChangeArea($event)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="addinventoryForm.get('property_purpose').value === 'Buy' || addinventoryForm.get('property_purpose').value === 'Rent' ">
                                <div class="row">
                                    <div class="col-md-8 col-sm-4">

                                        <div class="row">
                                            <b class="steps ml-3">Area Unit</b>
                                        </div>
                                        <div class="radio mt-2">
                                            <div class="btn-group btn-group-toggle">
                                                <label style="
                                                margin-left: 0px;
                                            " class="btn btn-secondary" [class.active]="addinventoryForm.get('area_unit').value === 'Sq. Feet'">
                                                    <input type="radio" formControlName="area_unit" value="Sq. Feet" autocomplete="off"
                                                        checked> Sq. Feet
                                                </label>
                                                <label class="btn btn-secondary" [class.active]="addinventoryForm.get('area_unit').value === 'Sq. Yard'">
                                                    <input type="radio" formControlName="area_unit" value="Sq. Yard" autocomplete="off">
                                                    Sq. Yard
                                                </label>
                                                <label class="btn btn-secondary" [class.active]="addinventoryForm.get('area_unit').value === 'Marla'">
                                                    <input type="radio" formControlName="area_unit" value="Marla" autocomplete="off">
                                                    Marla
                                                </label>
                                                <label class="btn btn-secondary" [class.active]="addinventoryForm.get('area_unit').value === 'Kanal'">
                                                    <input type="radio" formControlName="area_unit" value="Kanal" autocomplete="off">
                                                    Kanal
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="addinventoryForm.get('property_type').value === 'home' || addinventoryForm.get('property_type').value === 'House' || addinventoryForm.get('property_type').value === 'Apartment'">
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <!-- <b>Beds Number</b> -->

                                        <div class="row ml-1">
                                            <b class="steps">Beds Number</b>
                                            <!-- <h5 class="require">*</h5> -->
                                        </div>
                                        <input type="text" class="form-control" formControlName="beds_number" placeholder="Beds Number" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.beds_number.errors }" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                        />
                                        <!-- <b class="steps">Step 7: Select Number of Beds</b> -->
                                        <div *ngIf="submitted && f.beds_number.errors" class="invalid-feedback">
                                            <div *ngIf="f.beds_number.errors.required">Bed is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="addinventoryForm.get('property_purpose').value === 'Sell' ">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                <b class="steps">Simple Area</b>
                                                <input type="text" class="form-control" formControlName="area" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.area.errors }" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-2">
                                        <div class="row">
                                            <b class="steps ml-3">Area Unit</b>
                                        </div>
                                        <div class="radio mt-2">
                                            <div class="btn-group btn-group-toggle">
                                                <label style="
                                                margin-left: 0px;
                                            " class="btn btn-secondary" [class.active]="addinventoryForm.get('area_unit').value === 'Sq. Feet'">
                                                    <input type="radio" formControlName="area_unit" value="Sq. Feet" autocomplete="off"
                                                        checked> Sq. Feet
                                                </label>
                                                <label class="btn btn-secondary" [class.active]="addinventoryForm.get('area_unit').value === 'Sq. Yard'">
                                                    <input type="radio" formControlName="area_unit" value="Sq. Yard" autocomplete="off">
                                                    Sq. Yard
                                                </label>
                                                <label class="btn btn-secondary" [class.active]="addinventoryForm.get('area_unit').value === 'Marla'">
                                                    <input type="radio" formControlName="area_unit" value="Marla" autocomplete="off">
                                                    Marla
                                                </label>
                                                <label class="btn btn-secondary" [class.active]="addinventoryForm.get('area_unit').value === 'Kanal'">
                                                    <input type="radio" formControlName="area_unit" value="Kanal" autocomplete="off">
                                                    Kanal
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-md-3 col-sm-3 form-group">
                                    <div class="">

                                        <div class="row ml-1">
                                            <b class="steps">Client Name</b>
                                            <h5 class="require">*</h5>
                                        </div>
                                        <input formControlName="client_name" class="form-control" type="text" placeholder="Client Name " [ngClass]="{ 'is-invalid': submitted && f.client_name.errors }" />

                                        <div *ngIf="submitted && f.client_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.client_name.errors.required">Client Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 form-group">
                                    <div class="">
                                        <div class="row ml-1">
                                            <b class="steps">Client Number</b>
                                            <h5 class="require">*</h5>
                                        </div>
                                        <input formControlName="client_number" class="form-control" type="text" placeholder="Client Number" [ngClass]="{ 'is-invalid': submitted && f.client_number.errors }" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                        />
                                        <div *ngIf="submitted && f.client_number.errors" class="invalid-feedback">
                                            <div *ngIf="f.client_number.errors.required">Client Number is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 col-sm-3 form-group">
                                    <div class="row ml-1">
                                        <b class="steps">Client Type</b>
                                        <h5 class="require">*</h5>
                                    </div>

                                    <div *ngIf="addinventoryForm.get('property_purpose').value === 'Sell'">

                                        <ng-select class="ng-select inputs2 mt-2" [(ngModel)]="clientType" [ngModelOptions]="{standalone: true}" style="margin-left: 0px;" [items]="client_type" bindLabel="access" bindValue="access" placeholder="Select Client Type" (change)="changeClientType($event)">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="addinventoryForm.get('property_purpose').value != 'Sell'">

                                        <ng-select class="ng-select inputs2 mt-2" [(ngModel)]="clientType" [ngModelOptions]="{standalone: true}" style="margin-left: 0px;" [items]="client_type1" bindLabel="access" bindValue="access" placeholder="Select Client Type" (change)="changeClientType($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-3 form-group">
                                    <b class="steps">Comment</b>
                                    <label for="exampleFormControlTextarea1"></label>
                                    <textarea class="form-control" formControlName="comments" placeholder="Comment here" style="
                                    height: 120px;
                                "></textarea>
                                </div>
                            </div>

                            <b class="steps">Priority</b>
                            <div class="row mt-3">
                                <label class="radio-inline priority-radio" style="color: #04615ecc;margin-left: 15px">
                                    <input type="radio" formControlName="priority" name="priority" value="Normal">Normal</label>
                                <label class="radio-inline priority-radio" style="color: brown;margin-left: 15px">
                                    <input type="radio" formControlName="priority" name="priority" value="Hot">Hot</label>
                                <label class="radio-inline priority-radio" style="color: red;">
                                    <input type="radio" formControlName="priority" name="priority" value="Super Hot">Super Hot
                                </label>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-5 col-sm-5">
                                    <b class="steps">Assign To</b>
                                    <div class="radio mt-3">

                                        <div class="btn-group btn-group-toggle">
                                            <label style="
                                            margin-left: 0px;
                                        " class="btn btn-primary" [class.active]="addinventoryForm.get('assigned_type').value === 'self'">
                                                <input type="radio" formControlName="assigned_type" value="self"> Self
                                            </label>

                                            <label class="btn btn-primary" *ngIf="token.access == 'super_admin' || token.access == 'city_admin'" [class.active]="addinventoryForm.get('assigned_type').value === 'Admin'">
                                                <input type="radio" formControlName="assigned_type" value="Admin">
                                                Super Admin
                                            </label>
                                            <label class="btn btn-primary" [class.active]="addinventoryForm.get('assigned_type').value === 'city_admin'">
                                                <input type="radio" formControlName="assigned_type" value="city_admin">
                                                City Admin
                                            </label>

                                            <label class="btn btn-primary" *ngIf="token.access != 'agent'" [class.active]="addinventoryForm.get('assigned_type').value === 'Agents'">
                                                <input type="radio" formControlName="assigned_type" value="Agents">
                                                Agents
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div *ngIf="addinventoryForm.get('assigned_type').value === 'city_admin'">
                                    <ng-select class="ng-select inputs2" [(ngModel)]="cityAdminAssignedNames" [ngModelOptions]="{standalone: true}" [items]="cityAdminList" bindLabel="city.city" [multiple]="true" bindValue="fullname" placeholder="Select city admin" (change)="changeAssignedToCityAdmin($event)">
                                    </ng-select>
                                </div>

                                <div *ngIf="addinventoryForm.get('assigned_type').value === 'Admin'">
                                    <ng-select class="ng-select inputs2" [(ngModel)]="superAdminAssignedNames" [ngModelOptions]="{standalone: true}" [items]="superAdminList" bindLabel="access" [multiple]="true" bindValue="access" placeholder="Select Admin" (change)="changeAssignedAdmin($event)">
                                    </ng-select>
                                </div>

                                <div *ngIf="addinventoryForm.get('assigned_type').value === 'Agents'">
                                    <ng-select #agentSelect class="ng-select inputs2" [(ngModel)]="agentAssignedNames" [ngModelOptions]="{standalone: true}" [items]="agentList" [multiple]="true" bindLabel="fullname" bindValue="fullname" placeholder="Select Agent" (change)="changeAssignedAgent($event)">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn1 btn-primary">{{formSendingStatus}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>