<app-header></app-header>
<div id="wrapper">
    <app-dashboard (widthEmittedEvent)="contentWidthEmitted($event)"></app-dashboard>
    <div id="content-wrapper" class="d-flex flex-column" #content>
        <div id="content">

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Delete Requests Table</h1>


                <div class="row">
                    <div class="col-12">
                        <div class="table-container mb-5 mt-4">
                            <table class="table table-hover">
                                <thead>
                                    <th scope="col"> </th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <!-- <th>Added By</th> -->
                                    <th scope="col">Purpose</th>
                                    <th scope="col">Client Details</th>
                                    <th scope="col">Location</th>
                                    <!-- <th scope="col">Demand</th>
                                    <th scope="col">Comment</th> -->
                                    <th scope="col">Operations</th>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let user of user">
                                        <td>
                                            <span *ngIf="user?.priority == 'Super Hot'"><img class="super-hot"
                                                    src="\assets\icons\super_hot.svg"></span>
                                            <span *ngIf="user?.priority == 'Hot'"><img class="super-hot"
                                                    src="\assets\icons\hot.svg"></span>
                                            <span *ngIf="user?.priority == 'Normal'"><img class="normal"
                                                    src="\assets\icons\normal.svg"></span>
                                        </td>


                                        <td>{{ user?.refId }}</td>
                                        <td>{{user?.form_title}}</td>
                                        <td>{{ user?.property_purpose }}</td>

                                        <td><b>Name : </b>{{ user?.client_name | titlecase }} <br> <b>Number : </b>{{ user?.client_number}} <br>
                                            <b> Client Type :</b> {{ user?.client_type }}
                                        </td>

                                        <td>{{ user?.property_type }}</td>
                                        <td><i class="fas tick fa-check" (click)="confirmID(user?._id)" data-toggle="modal" data-target="#exampleModal1"></i><i class="fas cross fa-times ml-4" (click)="deleteRevert(user?._id)"></i></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Delete Confirmation
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteRow()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>