<div>
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- <app-header></app-header> -->
            <app-dashboard></app-dashboard>
        </div>
    </div>
    <div id="map" class="match-parent">
        <div class="map-overlay top">
            <div class="map-overlay-inner">
                <label>Layer opacity: <span id="slider-value">100%</span></label>
                <input id="slider" type="range" min="0" max="100" step="0" value="100" />
            </div>
        </div>
    </div>
</div>