#content {
    margin: 120px 20px;
}

#content-wrapper {
    margin-left: 100px;
    transition: 0.5s all;
}

.table-container {
    overflow-x: scroll;
    box-shadow: 0px 0px 20px 5px rgba(200, 200, 200, 0.69);
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

.table td,
.table th {}

.table tr:nth-child(even) {
    background-color: #38baa21f;
}

.table tr:hover {
    background-color: #e8e8e8;
}

.normal {
    height: 16px;
    margin-left: 3px;
}

.super-hot {
    height: 20px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #38baa2;
    font-size: 16px;
    color: white;
}

.abc {
    overflow-x: hidden;
}

.dropbtn {
    background-color: #38baa2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.inventory {
    margin-left: 47px;
    margin-top: 120px;
    width: 100%;
}

.fa {
    margin-left: 10px;
}

.btn:not(:disabled):not(.disabled):hover {
    color: #fff;
    background-color: #1f6e97;
    border-color: #1f6e97;
}

.btn {
    margin-left: 8px;
    width: 100px;
    font-size: 14px;
    background-color: #38baa2;
    color: white;
    border: 1px solid transparent;
}

.form-control-borderless {
    border: none;
    border: 1px solid whitesmoke;
}

@media only screen and (max-width: 1650px) {
    .inventory {
        margin-left: 50px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .inventory {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1200px) {
    .inventory {
        margin-left: 100px;
        overflow-x: auto;
    }
}

@media only screen and (max-width: 1100px) {
    .inventory {
        margin-left: 120px;
    }
}

@media only screen and (max-width: 992px) {
    .inventory {
        margin-left: -80px;
    }
}