<app-header></app-header>
<div id="wrapper">
    <app-dashboard (widthEmittedEvent)="contentWidthEmitted($event)"></app-dashboard>
    <div id="content-wrapper" class="d-flex flex-column" #content>
        <div id="content">

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Inventory Management</h1>

                <div class="row mb-3 mt-5">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="setFormTitle('Inventory')">Add New</button>
                        <button class="btn btn-secondary ml-3" data-toggle="modal"
                            data-target="#searchFilterModal">Filter</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <ng-select [items]="options" bindLabel="name" bindValue="value" placeholder="Filter By"
                            [(ngModel)]="selectedOption" (change)="optionChange($event)" [clearable]="false">
                        </ng-select>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <input type="text" class="form-control" placeholder="Search {{ placeholder }}"
                            [(ngModel)]="refId" />
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <ng-select class="ng-select inputs2" [items]="cities" bindLabel="city" bindValue="city"
                            placeholder="Select City" (change)="changeCity($event)">
                        </ng-select>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <ng-select class="ng-select inputs2" [(ngModel)]="selectedLocation" [items]="locations"
                            bindLabel="location" bindValue="location" placeholder="Select Location"
                            (change)="changeLocation($event)">
                        </ng-select>
                    </div>

                    <div class="col-5">
                        <button nz-button nzType="primary" data-toggle="modal" style="
                        width: 200px;
                        color: black;
                        border:#39bba2;
                        background-color: #dcdcdc;" data-target="#Property_Type">Search By <b>Property
                                Type</b></button>
                        <nz-switch nzUnCheckedChildren="search Property Type" data-target="#Property_Type"></nz-switch>
                    </div>
                    <div class="btn-container">
                        <button onclick="window.print()" class="btn btn-primary">Print</button>
                        <button (click)="exportTOExcel()" class="btn btn-primary ml-3">Excel</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-container mb-5 mt-4 inventory">
                            <table class="table table-hover">
                                <thead>
                                    <th> </th>
                                    <th (click)="sort('id')" scope="col">ID <i class="fa fa-sort"></i></th>
                                    <th scope="col">Client Details</th>
                                    <th scope="col">Purpose</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Property Type</th>
                                    <th scope="col">Land Area</th>

                                    <th scope="col">Demand</th>
                                    <th scope="col">Beds</th>
                                    <th scope="col">Added On</th>

                                    <th scope="col">Comments</th>
                                    <th scope="col">Operations</th>
                                </thead>

                                <tbody>
                                    <tr
                                        *ngFor="let user of user | filterlist: selectedOption:refId  | property_type: property_type2| nameFilter: agentAssignedName | dateFilter: startDate:endDate | demandFilter: minDemand:maxDemand | areaFilter: area_unit:minArea:maxArea | tableFilter: city | LocationFilter:location |  orderBy: key: reverse | paginate:{itemsPerPage:50,currentPage:p}; ">
                                        <td>
                                            <span *ngIf="user?.priority == 'Super Hot'"><img class="super-hot"
                                                    src="\assets\icons\super_hot.svg"></span>
                                            <span *ngIf="user?.priority == 'Hot'"><img class="super-hot"
                                                    src="\assets\icons\hot.svg"></span>
                                            <span *ngIf="user?.priority == 'Normal'"><img class="normal"
                                                    src="\assets\icons\normal.svg"></span>
                                        </td>

                                        <td>{{ user?.refId }}</td>
                                        <td>
                                            <b>Name : </b>{{ user?.client_name |titlecase }} <br />
                                            <b>Phone : </b>{{ user?.client_number }}<br />
                                            <b>Type : </b>{{ user?.client_type | titlecase }}
                                        </td>
                                        <td>{{ user?.property_purpose }}</td>
                                        <td>
                                            {{ user.city[0]?.city }}<span></span><br /><span class="badge badge-light"
                                                *ngFor="let loc of user?.location">{{ loc.location }},
                                            </span>
                                        </td>

                                        <td>{{ user.property_type }}</td>


                                        <td *ngIf="user?.area != null; else elseBlockArea">
                                            <span>{{ user?.area + " - " + user?.area_unit }}</span>
                                        </td>
                                        <ng-template #elseBlockArea>
                                            <td>
                                                <span *ngIf="
                            user?.max_area == null || user?.min_area == null;
                            else elseBlockArea2
                            ">
                                                    <span>None</span>
                                                </span>
                                                <ng-template #elseBlockArea2>
                                                    <span><b>Max:</b> {{ user?.max_area + " - " + user?.area_unit
                                                        }}<br /><b>Min:</b>
                                                        {{ user?.min_area + " - " + user?.area_unit }}</span>
                                                </ng-template>
                                            </td>
                                        </ng-template>

                                        <td
                                            *ngIf="user?.min_price != null && user.max_price != null else elseBlockDemand">
                                            <b>Max:</b> {{ user.max_price | currency :'Rs ' : 'symbol' : '1.0-0'
                                            }}<br /><b>Min:</b> {{ user.min_price | currency :'Rs ' : 'symbol' : '1.0-0'
                                            }}
                                        </td>
                                        <ng-template #elseBlockDemand>
                                            <td>{{ user.demand_price | currency :'Rs ' : 'symbol' : '1.0-0' }}</td>
                                        </ng-template>

                                        <td *ngIf="user?.beds_number != null; else elseBeds">
                                            <span>{{ user?.beds_number }}</span>
                                        </td>
                                        <ng-template #elseBeds>
                                            <td>
                                                <span>None</span>
                                            </td>
                                        </ng-template>
                                        <!-- <td>{{ user?.beds_number }}</td> -->
                                        <!-- <td>

                                            <span *ngIf="user?.assignedTo?.length === 0">Self</span>

                                            <span *ngIf="user?.assignedTo?.length > 0">
                                                <span *ngFor="let assign of user?.assignedTo">{{ assign }}<br></span>
                                            </span>
                                        </td> -->
                                        <td>{{ user?.created | date }}</td>
                                        <td>{{user?.comments}}</td>
                                        <td>
                                            <i class="fa fa-edit icon" (click)="setUserToEdit(user)"></i>
                                            <a (click)="setUserToEdit(user)" role="button"></a>

                                            <i class="fa fa-trash icon" (click)="confirmID(user?._id)"
                                                data-toggle="modal" data-target="#exampleModal1"></i>
                                        </td>
                                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Delete Confirmation
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete it?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal" (click)="deleteInventory()">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchFilterModal" tabindex="-1" role="dialog" aria-labelledby="searchFilterModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Filter</h1>

                <h5 class="modal-title" id="searchFilterModalLabel"></h5>

                <a class="btn btn-default btn-sm" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>

            <div class="modal-body filter-modal">
                <form [formGroup]="filterForm">
                    <br />
                    <h5> Price</h5>

                    <div class="row modal-rows">
                        <div class="col-sm-3 col-md-4">
                            <div class="form-group price">
                                <input type="number" class="form-control" placeholder="Min Demand"
                                    formControlName="minPrice">
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-4">
                            <div class="form-group price">
                                <input type="number" class="form-control" placeholder="Max Demand"
                                    formControlName="maxPrice">
                            </div>
                        </div>
                    </div>
                    <br />

                    <h5> Date</h5>

                    <div class="row modal-rows">
                        <div class="col-sm-3 col-md-4">
                            <div class="form-group date">
                                <input type="text" onfocus="(this.type='date')" class="form-control"
                                    placeholder="Start Date" formControlName="startDate">
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-4">
                            <div class="form-group date">
                                <input type="text" onfocus="(this.type='date')" class="form-control"
                                    placeholder="End Date" formControlName="endDate">
                            </div>
                        </div>
                    </div>
                    <br />

                    <h5> Area</h5>
                    <div class="row modal-rows">
                        <div class="com-sm-3 col-md-4">
                            <select class="form-control" formControlName="area">
                                <option [ngValue]="null">Select Area</option>
                                <option value="Kanal">Kanal</option>
                                <option value="Marla">Marla</option>

                                <option value="Sq.Yard">Square Yard</option>
                                <option value="Sq.Feet">Square Feet</option>
                            </select>
                        </div>

                        <div class="col-sm-5 col-md-3">
                            <input type="number" class="form-control" placeholder="Min Area" formControlName="minArea">
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <input type="number" class="form-control" placeholder="Min Area" formControlName="maxArea">
                        </div>
                        <br />
                    </div>
                    <br />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger reset" data-dismiss="modal" (click)="resetFilters()">
                    <span class="fas fa-undo"></span> Reset
                </button>
                <button type="button" class="btn btn-primary filter-button" [disabled]="filterForm.invalid"
                    data-dismiss="modal" (click)="filter()">
                    <span class="fas fa-check"></span>Search
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="Property_Type">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">Property Type Filter</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <div class="modal-body" style="height: 200px;max-width: 500px;">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="radio">
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-primary" style="width: 139px"
                                    [class.active]="property_type === 'Home'">
                                    <input type="radio" [(ngModel)]="property_type" value="Home" />
                                    Home
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px"
                                    [class.active]="property_type === 'Plot'">
                                    <input type="radio" [(ngModel)]="property_type" value="Plot" />
                                    Plot
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px"
                                    [class.active]="property_type === 'Commercial'">
                                    <input type="radio" [(ngModel)]="property_type" value="Commercial" />
                                    Commercial
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5" *ngIf="property_type === 'Home'">
                    <div class="col-12">
                        <div class="radio">
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-primary" style="width: 139px"
                                    [class.active]="property_type2 === 'House'">
                                    <input type="radio" [(ngModel)]="property_type2" value="House" />
                                    House
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px"
                                    [class.active]="property_type2 === 'Apartment'">
                                    <input type="radio" [(ngModel)]="property_type2" value="Apartment" />
                                    Apartment
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px"
                                    [class.active]="property_type2 === 'Farm House'">
                                    <input type="radio" [(ngModel)]="property_type2" value="Farm House" />
                                    Farm House
                                </label>
                            </div>
                            <div class="mt-3 btn-group btn-group-toggle">
                                <label class="btn btn-primary" style="width: 139px"
                                    [class.active]="property_type2 === 'Pent House'">
                                    <input type="radio" [(ngModel)]="property_type2" value="Pent House" />
                                    Pent House
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px"
                                    [class.active]="property_type2 === 'Lower Portion'">
                                    <input type="radio" [(ngModel)]="property_type2" value="Lower Portion" />
                                    Lower Portion
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px"
                                    [class.active]="property_type2 === 'Upper Portion'">
                                    <input type="radio" [(ngModel)]="property_type2" value="Upper Portion" />
                                    Upper Portion
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5" *ngIf="property_type === 'Plot'">
                    <div class="col-12">
                        <div class="radio">
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-primary" style="width: 139px"
                                    [class.active]="property_type2 === 'Residential Plot'">
                                    <input type="radio" [(ngModel)]="property_type2" value="Residential Plot" />
                                    Residential Plot
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px"
                                    [class.active]="property_type2 === 'Commercial Plot'">
                                    <input type="radio" [(ngModel)]="property_type2" value="Commercial Plot" />
                                    Commercial Plot
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px"
                                    [class.active]="property_type2 === 'Farm House Plot'">
                                    <input type="radio" [(ngModel)]="property_type2" value="Farm House Plot" />
                                    Farm House Plot
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5" *ngIf="property_type === 'Commercial'">
                    <div class="col-12">
                        <div class="radio ml-3">
                            <div class="row">
                                <div class="btn-group btn-group-toggle">
                                    <label class="btn btn-primary" style="width: 139px"
                                        [class.active]="property_type2 === 'Office'">
                                        <input type="radio" [(ngModel)]="property_type2" value="Office" />
                                        Office
                                    </label>

                                    <label class="btn btn-primary ml-3" style="width: 139px"
                                        [class.active]="property_type2 === 'Shop'">
                                        <input type="radio" [(ngModel)]="property_type2" value="Shop" />
                                        Shop
                                    </label>

                                    <label class="btn btn-primary ml-3" style="width: 139px"
                                        [class.active]="property_type2 === 'Plaza'">
                                        <input type="radio" [(ngModel)]="property_type2" value="Plaza" />
                                        Plaza
                                    </label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="mt-3 btn-group btn-group-toggle">
                                    <label class="btn btn-primary" style="width: 139px"
                                        [class.active]="property_type2 === 'Floor'">
                                        <input type="radio" [(ngModel)]="property_type2" value="Floor" />
                                        Floor
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger reset" data-dismiss="modal" (click)="resetFilters()">
                    <span class="fas fa-undo"></span> Reset
                </button>
            </div>
        </div>
    </div>
</div>