<div class="row">
    <div class="col-md-12">
        <app-header></app-header>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <!-- <app-header></app-header> -->
        <app-dashboard></app-dashboard>
    </div>
    <!-- </div> -->
    <div class="col-md-9">
        <div class="leads">
            <h1><b>Leads Management</b></h1>
            <br />
            <div class="">
                <div>
                    <button class="btn btn-primary" (click)="setFormTitle('Lead')">
              Add New
            </button>
                </div>
            </div>
            <br>
            <div class="">
                <div class="row">

                    <div class="col-3">
                        <ng-select [items]="options" bindLabel="name" bindValue="value" class="mr-2 ml-2" placeholder="Filter By" [(ngModel)]="selectedOption" (change)="optionChange($event)" [clearable]="false">
                        </ng-select>
                    </div>
                    <div class="col-3">
                        <input class="form-control" id="myInput" type="text" placeholder="Search {{ placeholder }}" [(ngModel)]="refId" />
                    </div>

                    <div class="col-1"></div>
                    <div class="col-5">
                        <button onclick="window.print()" class="btn btn-primary">
            Print
          </button> &nbsp; &nbsp; &nbsp;<button (click)="exportTOExcel()" class="btn btn-primary">
            Excel
          </button>
                    </div>
                </div>
            </div>
            <div class="table-container mb-5 mt-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th (click)="sort('id')" scope="col">
                                ID <i class="fa fa-sort"></i>
                            </th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Client Details</th>

                            <th scope="col">Property Type</th>
                            <th scope="col">Area</th>
                            <th scope="col">Location</th>
                            <th scope="col">Demand</th>
                            <th scope="col">Added On</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Media</th>
                            <th scope="col">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                let user of user
                | filterlist: selectedOption:refId
                | orderBy: key:reverse
                | paginate: { itemsPerPage: 50, currentPage: p }
                ">
                            <td> <span *ngIf="user.priority == 'Super Hot' else hot"><img class="super-hot" src="\assets\icons\red-flag.png"></span>
                                <ng-template #hot>
                                    <img class="super-hot" src="\assets\icons\flag_yellow.png">
                                </ng-template>
                            </td>


                            <td>{{ user.refId }}</td>
                            <td>{{ user.property_purpose }}</td>
                            <td>
                                <b>Name : </b>{{ user.client_name | titlecase }} <br />
                                <b>Number : </b>{{ user.client_number }} <br/>
                                <b>Type : </b> {{ user.client_type }}
                            </td>


                            <td>{{ user.property_type }}</td>
                            <td *ngIf="user?.area != null; else elseBlockArea">
                                <span>{{ user?.area + " - " + user?.area_unit }}</span>
                            </td>
                            <ng-template #elseBlockArea>
                                <td>
                                    <span *ngIf="
                user?.max_area == null || user?.min_area == null;
                else elseBlockArea2
                ">
                <span>None</span>
                                    </span>
                                    <ng-template #elseBlockArea2>
                                        <span><b>Max:</b> {{ user?.max_area + " - " + user?.area_unit
                }}<br /><b>Min:</b>
                {{ user?.min_area + " - " + user?.area_unit }}</span
                >
                </ng-template>
                </td>
                </ng-template>
                
                <td>
                {{ user.city[0]?.city }}<span>&nbsp;&nbsp;</span><br /><span class="badge badge-light" *ngFor="let loc of user.location">{{ loc.location }},
                </span>
                                </td>
                                <td *ngIf="user.demand_price == null; else elseBlockDemand">
                                    <b>Max:</b> {{ user.max_price }}<br /><b>Min:</b> {{ user.min_price }}
                                </td>
                                <ng-template #elseBlockDemand>
                                    <td>{{ user.demand_price }}</td>
                                </ng-template>

                                <td>{{ user.created | date: "dd/MM/yyyy" }}</td>

                                <td>
                                    <span *ngIf="user?.assigned_to?.fullname === ''">Self</span>
                                    <span *ngIf="user?.assigned_to?.length > 0">
                                        <span *ngFor="let assign of user?.assigned_to">{{ assign?.fullname }}<br></span>
                                    </span>
                                </td>
                                <td>
                                    <span><b>Media: </b> {{ user?.media }}</span
                ><br />
                </td>
                <td style="width: 12%;">
                <i class="fa fa-edit icon" (click)="setUserToEdit(user)"></i>
                <a (click)="setUserToEdit(user)" role="button"></a>
                
                <i
                class="fa fa-trash icon"
                (click)="confirmID(user._id)"
                data-toggle="modal"
                data-target="#exampleModal1"
                ></i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span
                ><i
                class="fas fa-exchange-alt"
                data-toggle="modal"
                data-target="#myModal"
                (click)="setCurrentUser(user)"
                ></i
                ></span>
                                </td>
                                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Delete Confirmation
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete it?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
                </button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteLead()">
                Delete
                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="text-center">Agent Assignment</h4>
                <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <br />
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="radio">
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-primary" style="width: 139px" [class.active]="assigned_type === 'city_admin'">
                  <input
                    type="radio"
                    [(ngModel)]="assigned_type"
                    value="city_admin"
                  />
                  City Admin
                </label>

                                <label class="btn btn-primary" style="width: 139px" [class.active]="assigned_type === 'Admin'">
                  <input
                    type="radio"
                    [(ngModel)]="assigned_type"
                    value="Admin"
                  />
                  Admins
                </label>

                                <label class="btn btn-primary" style="width: 139px" [class.active]="assigned_type === 'Agents'">
                  <input
                    type="radio"
                    [(ngModel)]="assigned_type"
                    value="Agents"
                  />
                  Agents
                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Select City Admin  -->
                <br />
                <div class="row">
                    <br /><br />
                    <div *ngIf="assigned_type === 'city_admin'">
                        <!-- <br><br> -->
                        <ng-select class="ng-select inputs2" [items]="cityAdminList" bindLabel="city.city" bindValue="fullname" placeholder="Select city admin" (change)="changeAssignedToCityAdmin($event)">
                        </ng-select>
                    </div>

                    <!-- Select Admins -->
                    <div *ngIf="assigned_type === 'Admin'">
                        <ng-select class="ng-select inputs2" [items]="superAdminList" bindLabel="access" bindValue="access" placeholder="Select Admin" (change)="changeAssignedAdmin($event)">
                        </ng-select>
                    </div>

                    <!-- Select Agents -->
                    <div *ngIf="assigned_type === 'Agents'">
                        <ng-select #agentSelect class="ng-select inputs2" [items]="agentList" [multiple]="true" bindLabel="fullname" bindValue="fullname" placeholder="Select Agent" (change)="changeAssignedAgent($event)">
                        </ng-select>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
                <button (click)="assignLeadToAgent()" [class.no-click]="assignLeadData.length === 0" type="button" class="btn" data-dismiss="modal">
          Assign
        </button>
            </div>
        </div>
    </div>
</div>