.table {
    border: 1px solid #8080804f;
}

th {
    background-color: white;
    color: black;
}

.leads {
    margin-left: 47px;
    margin-top: 120px;
}

.fa {
    margin-left: 8px;
}

.icon {
    margin-top: 14px;
}

.btn {
    /* margin-left: 25px; */
    width: 100px;
    font-size: 14px;
    background-color: #38baa2;
    color: white;
    border: 1px solid transparent;
}

.form-control-borderless {
    border: none;
    border: 1px solid whitesmoke;
}

@media only screen and (max-width: 1650px) {
    .leads {
        margin-left: 50px;
    }
}

@media only screen and (min-width: 1200px)and (max-width: 1400px) {
    .leads {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1200px) {
    .leads {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 1100px) {
    .leads {
        margin-left: 120px;
    }
}

@media only screen and (max-width: 992px) {
    .leads {
        margin-left: -80px;
    }
}