<div class="row">
    <div class="col-md-12">
        <app-header></app-header>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <!-- <app-header></app-header> -->
        <app-dashboard></app-dashboard>
    </div>
    <!-- </div> -->
    <div class="col-md-9">
        <div class="leads">
            <h1><b>Leads Management</b></h1>
            <br>
            <div>
                <button class="btn btn-primary" (click)="setFormTitle('Lead')">Add New</button>
            </div>
            <div class="pull-right">
                <!-- <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button> -->
                <div class="card-body row">
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control" id="myInput" type="text" [(ngModel)]="general_search" placeholder="Search topic or keyword">
                    </div>

                    <!-- <button class="btn btn-primary rounded-pill" type="submit">Search</button> -->

                    <button onclick="window.print()" class="btn btn-primary">Print</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button (click)="exportTOExcel()" class="btn btn-primary">Excel</button>
                </div>
            </div>
            <br><br><br>
            <!-- Inventory management table is below -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Client</th>
                        <th scope="col">Client Type</th>
                        <th scope="col">Property Type</th>
                        <!-- <th scope="col">Property #</th> -->
                        <th scope="col">Area</th>
                        <th scope="col">Location</th>
                        <th scope="col">Demand</th>
                        <!-- <th scope="col">Phone #</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">Admin Status</th>
                        <th scope="col">Agent Status</th> -->
                        <th scope="col">Added On</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                <td>    
                    <input class="form-control" type="text" [(ngModel)]="search_id" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="search_client" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="search_type" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="search_area" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="search_location" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]="search_demand" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="">
                </td>
                <td>
                    <i class="fa fa-search icon"></i>
                </td>
            </tr> -->
                    <tr *ngFor="let user of user | filter: general_search">
                        <!-- | tableFilter06: search_client | tableFilter05: search_demand | tableFilter04: search_type | tableFilter03: search_area | tableFilter02: search_location | tableFilter: search_id -->
                        <td>{{ user.referenceId }}</td>
                        <td>{{ user.property_purpose }}</td>
                        <td><b>Name : </b>{{ user.client_name | titlecase }} <br> <b>Number : </b>{{ user.client_number}}</td>
                        <!-- <td>{{ user.client_name }}</td> -->
                        <td>{{ user.client_type }}</td>

                        <td>{{ user.property_type }}</td>
                        <!-- <td>{{ user.Prop_num }}</td> -->
                        <td *ngIf="user.area == null else elseBlockArea"><b>Max:</b> {{ user.max_area + " - " + user.area_unit}}<br><b>Min:</b> {{ user.min_area + " - " + user.area_unit}}</td>
                        <ng-template #elseBlockArea>
                            <td>{{ user.area + " - " + user.area_unit}}</td>
                        </ng-template>
                        <!-- <td>{{ user.location.location }}</td> -->


                        <td>
                            {{user.city[0]?.city}}<span>&nbsp;&nbsp;</span><br><span class="badge badge-light" *ngFor="let loc of user.location">{{ loc.location }},  </span>
                        </td>

                        <!-- <td>
                            <span *ngFor="let loc of user.location">{{ loc.location }}<br></span>
                        </td> -->
                        <td *ngIf="user.demand_price == null else elseBlockDemand"><b>Max:</b> {{ user.max_price }}<br><b>Min:</b> {{ user.min_price }}</td>
                        <ng-template #elseBlockDemand>
                            <td>{{ user.demand_price }}</td>
                        </ng-template>
                        <!-- <td>{{ user.Phone_num }}</td>
                        <td>{{ user.Comment }}</td>
                        <td>{{ user.assigned_to.name}}</td>
                        <td>{{ user.Admin_status }}</td>
                        <td>{{ user.Agent_status }}</td> -->

                        <td>{{ user.created | date: "dd/MM/yyyy"}}</td>
                        <td>
                            <span><b>Assigned To: </b> {{user.assigned_to | titlecase}}</span><br>
                            <!-- <span><b>Assigned By: </b> {{token?.fullname | titlecase}}</span> -->
                        </td>
                        <td><i class="fa fa-edit icon" (click)="setUserToEdit(user)"></i>
                            <a (click)="setUserToEdit(user)" role="button"></a>

                            <i class="fa fa-trash icon" (click)="confirmID(user._id)" data-toggle="modal" data-target="#exampleModal1"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span><i class="fas fa-exchange-alt"   data-toggle="modal"
                                data-target="#myModal" (click)="setCurrentUser(user)"></i></span>
                        </td>
                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete it?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteLead()">
          Delete
        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="text-center">Agent Assignment</h4>
                <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- <form [formGroup]="agentAssignedForm"> -->
                <!-- Access Type -->
                <br>
                <div class="row ">
                    <div class="col-md-5 col-sm-5">

                        <div class="radio">
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-primary" style="width: 139px;" [class.active]="assigned_type === 'city_admin'"> 
                                    <input type="radio" [(ngModel)] = "assigned_type"  value="city_admin" > 
                                    City Admin 
                                </label>

                                <label class="btn btn-primary" style=" width: 139px;" [class.active]="assigned_type === 'Admin'"> 
                                    <input  type="radio"  [(ngModel)] = "assigned_type"   value="Admin">  
                                        Admins
                                </label>

                                <label class="btn btn-primary" style=" width: 139px;" [class.active]="assigned_type === 'Agents'"> 
                                    <input  type="radio"  [(ngModel)] = "assigned_type"   value="Agents">  
                                        Agents
                                </label>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Select City Admin  -->
                <br>
                <div class="row">
                    <br><br>
                    <div *ngIf="assigned_type === 'city_admin'">

                        <!-- <br><br> -->
                        <ng-select class="ng-select inputs2" [items]="cityAdminList" bindLabel="city" bindValue="city" placeholder="Select city admin" (change)="changeAssignedToCityAdmin($event)">
                        </ng-select>

                    </div>

                    <!-- Select Admins -->
                    <div *ngIf="assigned_type === 'Admin'">

                        <ng-select class="ng-select inputs2" [items]="superAdminList" bindLabel="access" bindValue="access" placeholder="Select Admin" (change)="changeAssignedAdmin($event)">
                        </ng-select>

                    </div>

                    <!-- Select Agents -->
                    <div *ngIf="assigned_type === 'Agents'">

                        <ng-select class="ng-select inputs2" [items]="agentList" bindLabel="fullname" bindValue="fullname" placeholder="Select Agent" (change)="changeAssignedAgent($event)">
                        </ng-select>

                    </div>
                </div>
                <!-- </form> -->
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
      Close
    </button>
                <button (click)="assignLeadToAgent()" type="button" class="btn" data-dismiss="modal">
Assign
</button>
            </div>
        </div>
    </div>
</div>