<app-header></app-header>
<div id="wrapper">
    <app-dashboard (widthEmittedEvent)="contentWidthEmitted($event)"></app-dashboard>
    <div id="content-wrapper" class="d-flex flex-column" #content>
        <div id="content">

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Leads Management</h1>

                <div class="row mb-3 mt-5">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="setFormTitle('Lead')">Add New</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <ng-select [items]="options" bindLabel="name" bindValue="value" placeholder="Filter By" [(ngModel)]="selectedOption" (change)="optionChange($event)" [clearable]="false">
                        </ng-select>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <input class="form-control" id="myInput" type="text" placeholder="Search {{ placeholder }}" [(ngModel)]="refId" />
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <ng-select class="ng-select inputs2" [items]="cities" bindLabel="city" bindValue="city" placeholder="Select City" (change)="changeCity($event)">
                        </ng-select>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <ng-select class="ng-select inputs2" [items]="locations" bindLabel="location" bindValue="location" placeholder="Select Location" (change)="changeLocation($event)">
                        </ng-select>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <input type="text" onfocus="(this.type='date')" class="form-control" placeholder="Start Date" (change)="changeStartDate($event)">
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <input type="text" onfocus="(this.type='date')" class="form-control" placeholder="End Date" (change)="changeEndDate($event)">
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <input type="number" class="form-control" placeholder="Min Demand" [(ngModel)]="minDemand">
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3">
                        <input type="number" class="form-control" placeholder="Max Demand" [(ngModel)]="maxDemand">
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-3" *ngIf="currentLoginUser?.access !== 'agent'">
                        <ng-select class="ng-select inputs2" [items]="usersList" bindLabel="fullname" bindValue="fullname" placeholder="Added By" (change)="changeAssignAgent($event)">
                        </ng-select>
                    </div>
                    <div class="btn-container">
                        <button onclick="window.print()" class="btn btn-primary">Print</button>
                        <button (click)="exportTOExcel()" class="btn btn-primary">Excel</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-container mb-5 mt-4 leads">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th (click)="sort('id')" scope="col">
                                            ID <i class="fa fa-sort"></i>
                                        </th>
                                        <th>Added By</th>
                                        <th scope="col">Purpose</th>
                                        <th scope="col">Client Details</th>

                                        <th scope="col">Property Type</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Demand</th>
                                        <th scope="col">Added On</th>
                                        <th scope="col">Assigned To</th>
                                        <!-- <th scope="col">Media</th> -->
                                        <!-- <th scope="col">Comments</th> -->
                                        <th scope="col">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of user| filterlist: selectedOption:refId | nameFilter: agentAssignedName  | dateFilter: startDate:endDate | demandFilter: minDemand:maxDemand| orderBy: key:reverse | tableFilter: city | LocationFilter:location | paginate: { itemsPerPage: 50, currentPage: p }">
                                        <td>
                                            <span *ngIf="user?.priority == 'Super Hot'">
                                                <img class="super-hot" src="\assets\icons\super_hot.svg">
                                            </span>
                                            <span *ngIf="user?.priority == 'Hot'">
                                                <img class="super-hot" src="\assets\icons\hot.svg">
                                            </span>
                                            <span *ngIf="user?.priority == 'Normal'">
                                                <img class="normal" src="\assets\icons\normal.svg">
                                            </span>
                                        </td>


                                        <td>{{ user.refId }}</td>
                                        <td>{{user?.added_By?.fullname}}</td>
                                        <td>{{ user.property_purpose }}</td>
                                        <td>
                                            <b>Name : </b>{{ user.client_name | titlecase }} <br />
                                            <b>Number : </b>{{ user.client_number }} <br />
                                            <b>Type : </b> {{ user.client_type }}
                                        </td>


                                        <td>{{ user.property_type }}</td>
                                        <td *ngIf="user?.area != null; else elseBlockArea">
                                            <span>{{ user?.area + " - " + user?.area_unit }}</span>
                                        </td>
                                        <ng-template #elseBlockArea>
                                            <td>
                                                <span *ngIf="user?.max_area == null || user?.min_area == null;else elseBlockArea2">
                                                    <span>None</span>
                                                </span>
                                                <ng-template #elseBlockArea2>
                                                    <span><b>Max:</b> {{ user?.max_area + " - " + user?.area_unit
                                                        }}<br /><b>Min:</b>
                                                        {{ user?.min_area + " - " + user?.area_unit }}</span>
                                                </ng-template>
                                            </td>
                                        </ng-template>

                                        <td>
                                            {{ user.city[0]?.city }}<span>&nbsp;&nbsp;</span><br /><span class="badge badge-light" *ngFor="let loc of user.location">{{
                                                loc.location }},
                                            </span>
                                        </td>
                                        <td *ngIf="user.demand_price == null; else elseBlockDemand">
                                            <b>Max:</b> {{ user.max_price | currency :'Rs ' : 'symbol' : '1.0-0' }}<br /><b>Min:</b> {{ user.min_price | currency :'Rs ' : 'symbol' : '1.0-0' }}
                                        </td>
                                        <ng-template #elseBlockDemand>
                                            <td>{{ user.demand_price | currency :'Rs ' : 'symbol' : '1.0-0' }}</td>
                                        </ng-template>

                                        <td>{{ user.created | date: "dd/MM/yyyy" }}</td>
                                        <td>
                                            <span *ngIf="user?.assignedTo?.length === 0">Self</span>
                                            <span *ngIf="user?.assignedTo?.length > 0">
                                                <span *ngFor="let assign of user?.assignedTo">{{ assign
                                                    }}<span>,</span><br></span>
                                            </span>
                                        </td>
                                        <!-- <td>
                                            <span><b>Media: </b> {{ user?.media }}</span><br />
                                        </td> -->
                                        <!-- <td>{{user?.comments}}</td> -->
                                        <td style="width: 12%;">
                                            <i class="fa fa-edit icon" (click)="setUserToEdit(user)"></i>
                                            <a (click)="setUserToEdit(user)" role="button"></a>

                                            <i class="fa fa-trash icon" (click)="confirmID(user._id)" data-toggle="modal" data-target="#exampleModal1"></i> &nbsp;&nbsp;
                                            <span><i class="fas fa-exchange-alt" data-toggle="modal"
                                                    data-target="#myModal" (click)="setCurrentUser(user)"></i></span>
                                        </td>
                                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Delete Confirmation
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete it?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteLead()">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- <div class="modal-content" style="height: 500px; 
        margin: 1.75rem auto; 
        max-width: 600px;"> -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">Agent Assignment</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <div class="modal-body" style="height: 300px;max-width: 500px;">
                <!-- <div class="modal-body"> -->
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="radio">
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-primary" style="width: 139px" [class.active]="assigned_type === 'city_admin'">
                                    <input type="radio" [(ngModel)]="assigned_type" value="city_admin" />
                                    City Admin
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px" [class.active]="assigned_type === 'Admin'">
                                    <input type="radio" [(ngModel)]="assigned_type" value="Admin" />
                                    Admins
                                </label>

                                <label class="btn btn-primary ml-3" style="width: 139px" [class.active]="assigned_type === 'Agents'">
                                    <input type="radio" [(ngModel)]="assigned_type" value="Agents" />
                                    Agents
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-8" *ngIf="assigned_type === 'city_admin'">
                        <ng-select class="ng-select inputs2 mt-3" [items]="cityAdminList" bindLabel="city.city" bindValue="fullname" placeholder="Select city admin" (change)="changeAssignedToCityAdmin($event)">
                        </ng-select>
                    </div>

                    <div class="col-8" *ngIf="assigned_type === 'Admin'">
                        <ng-select class="ng-select inputs2  mt-3" [items]="superAdminList" bindLabel="access" bindValue="access" placeholder="Select Admin" (change)="changeAssignedAdmin($event)">
                        </ng-select>
                    </div>

                    <div class="col-8" *ngIf="assigned_type === 'Agents'">
                        <ng-select #agentSelect class="ng-select inputs2 mt-3" [items]="agentList" [multiple]="true" bindLabel="fullname" bindValue="fullname" placeholder="Select Agent" (change)="changeAssignedAgent($event)">
                        </ng-select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-check updatePassword">
                        <label class="form-check-label" for="exampleCheck1">Do you want to write Comment?</label>
                        <input (click)="isComment()" type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </div>

                <div *ngIf="isCheckComment" class="form-group mt-3">
                    <textarea class="form-control" (change)="updatingTheComments($event)" style="height: 140px;">{{currentUser?.comments}}
                        </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
                <button (click)="assignLeadToAgent()" [class.no-click]="assignLeadData.length === 0" type="button" class="btn" data-dismiss="modal">
                    Assign
                </button>
            </div>
        </div>
    </div>
</div>