<div class="row">
    <div class="col-md-12">
        <app-header></app-header>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-dashboard></app-dashboard>
        </div>
    </div>
    <div class="row">
        <div class="section"><span>1</span>&nbsp; Add Location</div>
        <div>

        </div>
    </div>


    <div class="row">
        <div class="section"><span>2</span>&nbsp; Add Sub Location</div>
        <div>

        </div>
    </div>


</div>