<app-header></app-header>
<div id="wrapper">
    <app-dashboard (widthEmittedEvent)="contentWidthEmitted($event)"></app-dashboard>
    <div id="content-wrapper" class="d-flex flex-column" #content>
        <div id="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 col-md-10 mb-4 mt-4">
                        <div *ngIf="changeType == 'location'">
                            <h2 class="h3 mb-2 text-gray-600 mt-3">Add Location</h2>
                        </div>
                        <div *ngIf="changeType == 'subLocation'">
                            <h2 class="h3 mb-2 text-gray-600 mt-3">Add Sub Location</h2>
                        </div>
                        <div>

                            <div class="radio mb-5">
                                <div class="btn-group btn-group-toggle">
                                    <button [class.active]="changeType === 'location'" class="btn btn-primary" (click)="setChangeType('location')">Location</button>
                                    <button *ngIf="!user" [class.active]="changeType === 'subLocation'" class="btn btn-primary ml-3" (click)="setChangeType('subLocation')">Sub Location</button>

                                </div>
                            </div>
                        </div>
                        <form class="form-register" [formGroup]="addLocationForm">
                            <div *ngIf="changeType == 'location'">

                                <div class="row">

                                    <div class="col-md-5 col-sm-5 radio-mid">
                                        <h4 class="mb-2">Select City</h4>

                                        <div class="radio">
                                            <div class="btn-group btn-group-toggle">
                                                <label class="btn btn-primary" [class.active]="addLocationForm.get('city').value === 'Islamabad'">
                                                    <input type="radio" formControlName="city" value="Islamabad">
                                                    Islamabad
                                                </label>
                                                <label class="btn btn-primary ml-3" [class.active]="addLocationForm.get('city').value === 'Rawalpindi'">
                                                    <input type="radio" formControlName="city" value="Rawalpindi">
                                                    Rawalpindi
                                                </label>
                                                <label class="btn btn-primary ml-3" [class.active]="addLocationForm.get('city').value === 'Peshawar'">
                                                    <input type="radio" formControlName="city" value="Peshawar">
                                                    Peshawar
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-4 form-group">
                                        <div class=""><br> <b>Add new Location</b>
                                            <input formControlName="location" class="form-control" type="text" placeholder="Location " />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 form-group">
                                        <div class=""><br> <b>Add new Sub Location</b>
                                            <ng-select [addTag]="addNewSublocation" [(ngModel)]="subLocation" [multiple]="true" [items]="subLocation" bindLabel="subLocation" bindValue="subLocation" [ngModelOptions]="{standalone: true}" class="ng-select" placeholder="Sub-Location" (change)="changeSubLocation($event)">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-12 pull-right">
                                        <button class="btn btn-primary" (click)="addLocation()">submit</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="changeType == 'subLocation'">
                                <div class="row mt-5 ml-1">
                                </div>
                                <div class="row mt-3">

                                    <div class="col-4">
                                        <ng-select class="ng-select" formControlName="city" [items]="cities" bindLabel="city" bindValue="city" placeholder="Select City" (change)="changeCity($event)">
                                        </ng-select>
                                    </div>
                                    <div class="col-4">
                                        <ng-select class="ng-select" formControlName="location" [(ngModel)]="selectStringLocations" [items]="locations" bindLabel="location" bindValue="location" (change)="changeLocation($event)" placeholder="Select Location">
                                        </ng-select>
                                    </div>
                                    <div class="col-4">
                                        <ng-select [addTag]="addNewSublocationUpdation" class="ng-select" [(ngModel)]="subLocationsList" [multiple]="true" [items]="subLocationsList" bindLabel="subLocationsList" bindValue="subLocationsList" [ngModelOptions]="{standalone: true}" placeholder="Sub Locations" (change)="changeSubLocation($event)">
                                        </ng-select>
                                    </div>
                                </div>

                                <!-- <div class="row" *ngIf="!user">

                                    <div class="col-4 form-group">
                                        <div class="mt-2"><br> <b>Add new Sub Location</b>
                                            <div class="mt-2">
                                                <input [(ngModel)]="subLocationName" [ngModelOptions]="{standalone: true}" class="form-control" type="text" placeholder="Add Sub Location " />
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row mt-3">

                                    <div class="col-12 pull-right">
                                        <button class="btn btn-primary" (click)="addSubLocation()">submit</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>