<div class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()" #sidebar>
    <ul>

        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://bootdey.com/img/Content/avatar/avatar6.png" />
            </div>
            <div class="user-info">
                <span class="user-name" style="color: rgb(194, 201, 211);">{{ userData?.fullname | titlecase }} </span>
                <span class="user-role">{{ userData?.access | titlecase}}</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <hr class="sidebar-divider" />

        <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
                <i class="fa fa-user"></i>
                <span>User Profile</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="userData?.access  !== 'agent'">
            <a class="nav-link" routerLink="/agents">
                <i class="fa fa-users"></i>
                <span>Agents</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/inventory">
                <i class="fa fa-file-alt"></i>
                <span>Inventory</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/leads">
                <i class="fa fa-phone-volume"></i>
                <span>Lead</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/both">
                <i class="fa fa-phone-volume"></i>
                <span>Both</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/assigned-leads">
                <i class="fas fa-exchange-alt"></i>
                <span>Assigned Leads</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/location">
                <!-- <i class="fas fa-exchange-alt"></i> -->
                <!-- <i class="fas fa-map-signs"></i> -->
                <!-- <i class="fas fa-map"></i> -->
                <i class="far fa-map"></i>
                <span>Location</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="userData?.access  !== 'agent'">
            <a class="nav-link" routerLink="/dealers-list">
                <!-- <i class="fas fa-exchange-alt"></i> -->
                <!-- <i class="far fa-comments"></i> -->
                <i class="far fa-id-card"></i>
                <span>Dealers List</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="userData?.access  !== 'agent'">
            <a class="nav-link" routerLink="/feedback">
                <!-- <i class="fas fa-exchange-alt"></i> -->
                <i class="far fa-comments"></i>
                <span>FeedBack</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="userData?.access  !== 'agent'">
            <a class="nav-link" routerLink="/register">
                <!-- <i class="fas fa-tachometer-alt"></i> -->
                <i class="fas fa-user-plus"></i>
                <span>Register</span>
            </a>
        </li>
        <hr class="sidebar-divider" />
        <div class="sidebar-footer">
            <a routerLink="/" *ngIf="isLogin()" (click)="logout()">
                <i class="fa fa-lock"></i>
                <span class="badge-logout">Logout</span>
            </a>
        </div>
    </ul>
</div>