.sidebar {
    height: 100%;
    width: 70px;
    background: #353941;
    position: fixed;
    transition: 0.5s;
    overflow-x: hidden;
    white-space: nowrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    width: 100%;
}

ul li a {
    display: block;
    padding: 0.5rem 0;
}

ul li a i {
    background: #41464e;
    margin-left: 15px;
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    padding-top: 3px;
}

ul li a span {
    font-size: 16px;
    font-weight: 600;
    color: #81888a;
    margin-left: 30px;
}

ul li:hover a span, .badge-logout {
    color: #9fa8aa;
}

ul li:hover a i, li a:hover:before {
    color: #38baa2;
    text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

ul li a:hover>i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
}

ul .sidebar-divider {
    margin: 1rem 0;
    border-top: 1px solid #454b54;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sidebar-header {
    padding: 20px 20px 0 9px;
    overflow: hidden;
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.sidebar-header .user-pic {
    flex: 1 0 auto;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}

.sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.sidebar-header .user-info {
    display: inline-block;
    margin-left: 25px;
}

.sidebar-header .user-info>span {
    display: block;
}

.sidebar-header .user-info .user-name {
    font-size: 16px;
}

.sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}

.sidebar-footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    bottom: 0;
    display: flex;
    margin-top: 1px;
}

.sidebar-footer>a {
    flex-grow: 1;
    text-align: center;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.sidebar-footer>a .notification {
    font-size: 0.6rem;
    position: absolute;
    top: 0;
}

.sidebar-footer>a i {
    font-size: 2rem;
    margin-left: 15px;
}

.sidebar-footer>a {
    color: #818896;
}

.sidebar-footer>a:hover i {
    color: #b8bfce;
}

.sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.sidebar-footer>a:first-child {
    border-left: none;
}

.sidebar-footer>a:last-child {
    border-right: none;
}

.badge-warning {
    color: #212529;
    background: #ffc107;
}

.badge-success {
    background: #28a745;
}

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

.badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
}

.badge-logout {
    font-size: 16px;
    font-weight: 600;
    color: #81888a;
    margin-left: 40px;
}