<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper" style="padding-top: 100px;">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a routerLink="/">AGENT DASHBOARD</a>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                </div>
                <div class="user-info">
                    <span class="user-name">{{tokendata?.fullname}}
          </span>
                    <span class="user-role">{{tokendata?.access}}</span>
                    <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
                    </span>
                </div>
            </div>
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Dashboard</span>
                    </li>
                    <li class="sidebar">
                        <a routerLink="/profile">
                            <i class="fa fa-user"></i>
                            <span>User Profile</span>
                        </a>

                    </li>

                    <li class="sidebar">
                        <a routerLink="/users">
                            <i class="fa fa-users"></i>
                            <span> Agent</span>
                        </a>

                    </li>
                    <li class="sidebar">
                        <a routerLink="/inventory">
                            <i class="fas fa-file-alt"></i>
                            <span>Inventory</span>
                        </a>

                    </li>
                    <li>
                        <a routerLink="/leads">
                            <i class="fas fa-phone-volume"></i>
                            <span>Lead</span>
                        </a>

                    </li>

                    <li>
                        <a routerLink="/both">
                            <i class="fas fa-phone-volume"></i>
                            <span>Both</span>
                        </a>

                    </li>

                    <li class="sidebar">
                        <a routerLink="/register">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Register</span>
                        </a>

                    </li>
                    <li class="sidebar">
                        <a routerLink="/map">
                            <i class="fas fa-map"></i>
                            <span>Maps</span>
                            <span class="badge badge-pill badge-info">New</span>
                        </a>

                    </li>

                    <!-- <li class="sidebar">
                        <a routerLink="/both">
                            <i class="fas fa-phone-volume"></i>
                            <span>Both</span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="sidebar-footer">
                <a routerLink="/" *ngIf="isLogin()" (click)="logout()">
                    <i class="fa fa-lock"></i>
                    <span class="badge badge-pill badge-warning notification">Log out</span>
                </a>
                <a routerLink="/profile">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-success notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
            </div>
        </div>
    </nav>
</div>