<app-header></app-header>
<div id="wrapper">
    <app-dashboard (widthEmittedEvent)="contentWidthEmitted($event)"></app-dashboard>
    <div id="content-wrapper" class="d-flex flex-column" #content>
        <div id="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 col-md-10 mb-4 mt-4">
                        <div *ngIf="messageType == 'agent'">
                            <h2 class="h2 mb-4 text-gray-600 ml-3">Agent Message</h2>
                        </div>
                        <div *ngIf="messageType == 'nonAgent'">
                            <h2 class="h2 mb-4 text-gray-600 ml-3">Non Agent Message</h2>
                        </div>
                        <!-- <div> -->

                        <div class="radio mb-5">
                            <div class="btn-group btn-group-toggle col-4">
                                <button [class.active]="messageType === 'agent'" class="btn btn-primary" (click)="setChangeType('agent')">Agent</button>
                                <button [class.active]="messageType === 'nonAgent'" class="btn btn-primary ml-3" (click)="setChangeType('nonAgent')">Non Agent</button>

                            </div>
                        </div>
                        <!-- </div> -->
                        <form class="form-register" [formGroup]="sendMessageForm">
                            <div *ngIf="messageType == 'agent'">
                                <div class="row">
                                    <div class="col-4 mt-4"> <b>Select Agents </b>
                                        <ng-select class="ng-select" [(ngModel)]="agentsName" [ngModelOptions]="{standalone: true}" [items]="agentList" bindLabel="fullname" [multiple]="true" bindValue="fullname" placeholder="Select Agent" (change)="changeAssignedAgent($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-4 form-group">
                                        <b class="steps">Message</b>
                                        <label for="exampleFormControlTextarea1"></label>
                                        <textarea class="form-control" formControlName="message" placeholder="Text here" style="height: 300px;"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-12 pull-right">
                                        <button class="btn btn-primary" (click)="sendMessage()">Send Message</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="messageType == 'nonAgent'">

                                <div class="row">

                                    <div class="col-4 form-group">
                                        <div class=""><br> <b>Contact Numbers </b>
                                            <ng-select [addTag]="addNewContactNumber" [(ngModel)]="contactNumber" [multiple]="true" [ngModelOptions]="{standalone: true}" [items]="contactNumber" bindLabel="contact" bindValue="contact" class="ng-select" placeholder="Enter Contact Numbers" (change)="changeContactNumber($event)">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-4 form-group">
                                        <b class="steps">Message</b>
                                        <label for="exampleFormControlTextarea1"></label>
                                        <!-- <angular-editor formControlName="message" [placeholder]="'Enter text here...'" style="height: 200px;"></angular-editor> -->
                                        <textarea class="form-control" formControlName="message" placeholder="Text here" style="height: 200px;"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 pull-right">
                                        <button class="btn btn-primary" (click)="sendNonAgentMessage()">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>